{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% bootstrap_css %}
</head>
<body>

<div class="container">
    <h1>Produtos</h1>

    <table class="table table-dark">
        <thead>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Estoque</th>
        </thead>
        <tbody>
        {% for produto in produtos %}

        <tr>
                <td scope="row">
                    {{ produto.id }}
                </td>

                <td scope="row">
                    <a href="#modal{{produto.id}}" data-toggle="modal">
                        {{ produto.nome }}
                    </a>
                </td>

                <td scope="row">
                    {{ produto.preco }}
                </td>

                <td scope="row">
                    {{ produto.estoque }}
                </td>
        </tr>

        <div class="modal fade bd-example-modal-lg show" id="modal{{produto.id}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <!--      botão fechar do modal =>   &times;     -->
                        <button class="close" type="button" data-dismiss="modal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>

                    <div class="modal-body" id="dinamic-content">
                        <img src="{{produto.imagem.url}}" alt="{{produto.nome}}" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
        </tbody>


    </table>


</div>


{% bootstrap_javascript jquery="full" %}
</body>
</html>